
# ignore the generated target directory
**.bak
.classpath
.project
.settings
bin/
target


# IntelliJ specific files
**.iml
.idea/**


# SonarQube directory and backup files
**.sonar/
.sonar
sonar-project.properties.bak
