# ignore the generated target directory
/target
/bin/
/.classpath
/.project
/.settings


# IntelliJ specific files
.idea
*.iml


# SonarQube directory and backup files
.sonar
sonar-project.properties.bak
